body {
    font-family: "Anton";
    background-color: #40c594;
    color: #830578;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Asap Condensed";
    font-size: 48pt;
    text-align: center;
}

header {
    text-align: center;
}

#hero,
footer {
    border: 2px solid #280d88;
    background-color: #f0ba32;
    text-align: center;
    padding: 22px;
}

#hero img {
    width: 275px;
    max-width: 100%;
}

ul {
    padding: 8px;
}

li {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #c41374;
    text-align: center;
    background-color: #0ef0f8;
    border: 1px solid #99138e;
    padding: 10px;
}

/* Hobbies */
#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies h2 {
    margin: .1em;
}

/*Drop Caps*/
#lit p:first-child:first-letter {
    color: #99138e;
    background-image: radial-gradient(rgb(134, 59, 134));
    float: left;
    font-size: 3em;
    padding: 0.3em;
    margin-right: 0.3em;
    line-height: 0.5;
    border: 4px outset;
    text-shadow: 2px 2px 3px;
    box-shadow: 5px 5px 5px;
    border-bottom-left-radius: 0.2ex;
    border-bottom-right-radius: 0.2em;
}

/*Tablet Size*/
@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    /* Literature*/
    #lit {
        max-width: 100%;
        columns: 20rem;
    }
}

/*Large Screen Size*/
@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }

}

/* Video Style */
#video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#video iframe {
    max-width: 100%;
}

#video p {
    font-size: 32px;
    color: #280d88;
}

/* Larger Screen Size */
@media screen and (min-width: 100em) {
    #video {
        max-width: 100%;
    }
}

/* Small Scree Size (iPhones) */
@media screen and (max-width: 30em) {
    #hero img,
    #gallery img {
        max-width: 100%;
        height: auto;
    }
}

/* Larger Screen (Laptops) */
@media screen and (min-width: 30em) {
    #hero img,
    #gallery img {
        max-width: 100%;
        height: auto;
    }

}

/*Contact Form*/
#formElements {
display: grid;
}

